<% include _header %>

    <h1>Test your database connection</h1>

    <p>You don't know wether your database configuration was successful? <br>
       Simply test your database connection with this WebApp.
    </p>

    
<% include _footer %>