<% include _header %>

    <h1>Test your database connection</h1>

    <p>You don't know wether your database configuration was successful? <br>
       Simply test your database connection with this WebApp.
    </p>

    <hr>

    <label for="id">ID: </label><input id="id" type="text"><br>
    <label for="name">Name: </label><input id="name" type="text"><br>
    <label for="surname">Surname: </label><input id="surname" type="text"><br>
    <label for="birthday">Birthday: </label><input id="birthday" type="text"><br>

    <input id="button" type="button" value="Click mich!">

    <script>
        $(document).ready(function() {
            
            $("#button").click(function() {
                $.post('/buttonclick',{request:'test'}).done(function(data){
                    console.log({data:data});
                    $("#name").val(data.name);
                }); 
            });

            

        });
    </script>

    
<% include _footer %>