<% include _header %>

    <h1>Test your database connection</h1>

    <p>You don't know wether your database configuration was successful? <br>
       Simply test your database connection with this WebApp.
    </p>

    <hr>

    <label for="id_selector">Show friend with following ID: </label>
    <select id="id_selector">
        <option value="none"> </option>
    </select>

    <table>
        <tr>
            <td><label for="id">ID: </label></td>
            <td><input id="id" type="text"></td>
        </tr>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input id="name" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Surname: </label></td>
            <td><input id="surname" type="text"></td>
        </tr>
        <tr>
            <td><label for="birthday">Birthday: </label></td>
            <td><input id="birthday" type="text"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="edit" class="btn btn-primary" type="button" value="Edit" style="display: none;">
                <input id="add" class="btn btn-primary" type="button" value="Add New">
                <input id="cancel" class="btn btn-warning" type="button" value="Cancel" style="display: none;">
                <input id="save" class="btn btn-success" type="button" value="Save" style="display: none;">
                <input id="new_save" class="btn btn-success" type="button" value="Save" style="display: none;">
                <input id="delete" class="btn btn-danger" type="button" value="Delete" style="display: none;">
            </td>
        </tr>
    </table>

    <script>
        $(document).ready(function() {

            update_options();
            disable_inputs(true);

            $("#edit").click(function(){
                disable_inputs(false);

                $("#edit").hide();
                $("#save").show();
                $("#delete").show();
                $("#cancel").show();

            });

            $("#save").click(function(){
                disable_inputs(true);
                
                var id = $("#id").val();
                var name = $("#name").val();
                var surname = $("#surname").val();
                var birthday = $("#birthday").val();

                var stuff = {
                    "id": id,
                    "name": name,
                    "surname": surname,
                    "birthday": birthday
                };

                $.ajax({
                    url: "/friends/save",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({Stuff: stuff}),
                    success: function (data) {
                        console.log("Freund/in erfolgreich gespeichert.");
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                });
                
                $("#edit").show();
                $("#save").hide();
                $("#delete").hide();
                $("#cancel").hide();

            });

            $("#cancel").click(function(){
                var friend_id = $("#id_selector").val();
                
                if(friend_id === "none")
                {
                    // leave blanc
                    $("#id").val("");
                    $("#name").val("");
                    $("#surname").val("");
                    $("#birthday").val("");
                }else
                {
                    $.ajax({
                        url: "/friends/"+friend_id,
                        type: "GET",
                        success: function(data){
                            $("#id").val(data[0].id);
                            $("#name").val(data[0].vorname);
                            $("#surname").val(data[0].name);
                            $("#birthday").val(data[0].geburtstag);
                        },
                        error: function(xhr){
                            console.log("Es ist ein Fehler aufgetreten :(");
                        }
                    }); 
                }
                
                disable_inputs(true);

                $("#edit").show();
                $("#save").hide();
                $("#new_save").hide();
                $("#delete").hide();
                $("#cancel").hide();

            });

            $("#delete").click(function(){
                var id = $("#id").val();
                $.ajax({
                    url: "/friends/delete/"+id,
                    type: "POST",
                    success: function (data) {
                        console.log("Freund/in erfolgreich gelöscht.");
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                });

                
                // leave blanc
                $("#id").val("");
                $("#name").val("");
                $("#surname").val("");
                $("#birthday").val("");

                disable_inputs(true);

                $("#edit").show();
                $("#save").hide();
                $("#new_save").hide();
                $("#delete").hide();
                $("#cancel").hide();

            });

            $("#add").click(function(){
                disable_inputs(false);
                $("#id").prop("disabled", false);

                $("#id").val("");
                $("#name").val("");
                $("#surname").val("");
                $("#birthday").val("");

                $("#edit").hide();
                $("#add").hide();
                $("#cancel").show();
                $("#new_save").show();
            });

            $("#new_save").click(function(){
                disable_inputs(true);
                
                var id = $("#id").val();
                var name = $("#name").val();
                var surname = $("#surname").val();
                var birthday = $("#birthday").val();

                var stuff = {
                    "id": id,
                    "name": name,
                    "surname": surname,
                    "birthday": birthday
                };

                $.ajax({
                    url: "/friends/add",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({Stuff: stuff}),
                    success: function (data) {
                        console.log("Freund/in erfolgreich hinzugefügt.");
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                });
                
                $("#edit").show();
                $("#save").hide();
                $("#new_save").hide();
                $("#delete").hide();
                $("#cancel").hide();
            });

            $("#id_selector").change(function(){
                var friend_id = $("#id_selector").val();
                
                if(friend_id === "none")
                {
                    // leave blanc
                    $("#id").val("");
                    $("#name").val("");
                    $("#surname").val("");
                    $("#birthday").val("");
                    $("#edit").hide();
                }else
                {
                    $.ajax({
                        url: "/friends/"+friend_id,
                        type: "GET",
                        success: function(data){
                            $("#id").val(data[0].id);
                            $("#name").val(data[0].vorname);
                            $("#surname").val(data[0].name);
                            $("#birthday").val(data[0].geburtstag);
                        },
                        error: function(xhr){
                            console.log("Es ist ein Fehler aufgetreten :(");
                        }
                    });

                    $("#edit").show();
                } 

            });

            function update_options(){
                $.ajax({
                    url: "/friends",
                    type: "GET",
                    success: function(data){
                        
                        var selector = document.getElementById("id_selector");

                        data.forEach(element => {
                            var option = document.createElement("option");
                            option.text = element.id;
                            selector.add(option); 
                        });
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                }); 
            }

            function disable_inputs(disable){
                if(disable)
                {
                    $("#id").prop("disabled", true);
                    $("#name").prop("disabled", true);
                    $("#surname").prop("disabled", true);
                    $("#birthday").prop("disabled", true);
                }else
                {
                    $("#name").prop("disabled", false);
                    $("#surname").prop("disabled", false);
                    $("#birthday").prop("disabled", false);
                }
            }

        });
    </script>

    
<% include _footer %>