<% include _header %>

    <h1>Test your database connection</h1>

    <p>You don't know wether your database configuration was successful? <br>
       Simply test your database connection with this WebApp.
    </p>

    <hr>

    <label for="show_id">Show friend with following ID: </label>
    <select id="show_id"></select>
    <input id="button" type="button" value="Show"><br>

    <table>
        <tr>
            <td><label for="id">ID: </label></td>
            <td><input id="id" type="text"></td>
        </tr>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input id="name" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Surname: </label></td>
            <td><input id="surname" type="text"></td>
        </tr>
        <tr>
            <td><label for="birthday">Birthday: </label></td>
            <td><input id="birthday" type="text"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="edit" type="button" value="Edit">
                <input id="save" type="button" value="Save" style="display: none;">
                <input id="delete" type="button" value="Delete" style="display: none;">
            </td>
        </tr>
    </table>

    <script>
        $(document).ready(function() {

            update_options();
            disable_inputs(true);

            $("#button").click(function() {

                var friend_id = $("#show_id").val();
                
                $.ajax({
                    url: "/friends/"+friend_id,
                    type: "GET",
                    success: function(data){
                        $("#id").val(data[0].id);
                        $("#name").val(data[0].vorname);
                        $("#surname").val(data[0].name);
                        $("#birthday").val(data[0].geburtstag);
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                }); 
                
            });

            $("#edit").click(function(){
                disable_inputs(false);
                $("#save").show();
                $("#delete").show();

            });

            $("#save").click(function(){
                disable_inputs(true);
                
                var id = $("#id").val();
                var name = $("#name").val();
                var surname = $("#surname").val();
                var birthday = $("#birthday").val();

                console.log("saving -> id: "+id+", name: "+name+", surname: "+surname+", birthday: "+birthday);

                var stuff = {
                    "id": id,
                    "name": name,
                    "surname": surname,
                    "birthday": birthday
                };

                $.ajax({
                    url: "/friends/save",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({Stuff: stuff}),
                    success: function (data) {
                        console.log("Freund/in erfolgreich gespeichert.");
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                });
                
                $("#save").hide();
                $("#delete").hide();

            });

            $("#delete").click(function(){
                var id = $("#id").val();
                $.ajax({
                    url: "/friends/delete/"+id,
                    type: "POST",
                    success: function (data) {
                        console.log("Freund/in erfolgreich gelöscht.");
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                });
            });

            function update_options(){
                $.ajax({
                    url: "/friends",
                    type: "GET",
                    success: function(data){
                        
                        var selector = document.getElementById("show_id");

                        data.forEach(element => {
                            var option = document.createElement("option");
                            option.text = element.id;
                            selector.add(option); 
                        });
                    },
                    error: function(xhr){
                        console.log("Es ist ein Fehler aufgetreten :(");
                    }
                }); 
            }

            function disable_inputs(disable){
                if(disable)
                {
                    $("#id").prop("disabled", true);
                    $("#name").prop("disabled", true);
                    $("#surname").prop("disabled", true);
                    $("#birthday").prop("disabled", true);
                }else
                {
                    $("#name").prop("disabled", false);
                    $("#surname").prop("disabled", false);
                    $("#birthday").prop("disabled", false);
                }
            }

        });
    </script>

    
<% include _footer %>